@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gamja+Flower&family=Lobster&family=Schoolbell&display=swap');
@tailwind base;

.gamjaFlower {
   font-family: 'Gamja Flower', cursive;
}

.lobster {
   font-family: 'Lobster', cursive;
}

.schoolbell {
   font-family: 'Schoolbell', cursive;
}

.abril {
   font-family: 'Abril Fatface', cursive;
}

@tailwind components;

@tailwind utilities;